import Edit${singularPascalName}Cell from '${importComponentEditNameCell}'

type ${pascalName}PageProps = {
  cuid: ${idTsType}
}

const Edit${singularPascalName}Page = ({ cuid }: ${pascalName}PageProps) => {
  return <Edit${singularPascalName}Cell cuid={cuid} />
}

export default Edit${singularPascalName}Page
