import ${singularPascalName}Cell from '${importComponentNameCell}'


const ${singularPascalName}Page = ({ cuid }: ${pascalName}PageProps) => {
  return <${singularPascalName}Cell cuid={cuid} />
}

export default ${singularPascalName}Page
